/* css styles */
.extra-space1 {
    margin-top: 20px;
}

.extra-space2 {
    margin-top: 40px;
}

.extra-space3 {
    margin-top: 60px;
}

.listing-status {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
    border: solid 1px rgb(61, 175, 76);
    color: rgb(61, 175, 76);
}