/*-- scss:defaults --*/

// $body-bg: #191919;
// $body-color: #fff;
// $link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .theorem {
    background-color: rgb(251, 251, 251);
    padding: 5px;
    border: 1px solid black;
    border-left: 6px solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* css styles */
.reveal .extra-space1 {
  margin-top: 20px;
}

.reveal .extra-space2 {
  margin-top: 40px;
}

.reveal .extra-space3 {
  margin-top: 60px;
}


/* css styles */
.reveal h1 {
  font-size: 25px;
}

.reveal h2 {
  font-size: 20px;
}

.reveal h3 {
  font-size: 15px;
}